<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/flaticon.css"/>
    <link rel="stylesheet" href="/public/css/icomoon.css"/>
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css"/>
    <title>VEGEFOODS</title>
  </head>
  <body>
    <header id="header" class="header">
      <div class="container">
        <div class=" row">
          <div class="header--title col-md-5">
            <h3 class="header--title__content">VEGEFOODS</h3>
          </div>
          <div class="header--nav col-md-7">
              <ul class="header--nav__list">
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Trang chủ</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Giới thiệu</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Blog</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Liên hệ</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Giỏ hàng <span>(0)</span></a>
                </li>
                <li class="header--nav__item">
                    <a href="" class="nav__link">Đăng nhập</a>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="banner" style="background-image: url(/public/img/bg_1.jpg);">
      <div class="banner--title">
        <div class="banner--title__content">
          <h1>Chi tiết sản phẩm</h1>
        </div>
      </div>
      <!-- <div class="overlay"></div> -->
    </section>

    <section class="section detail">
      <div class="container">
        <div class="row detail_pro">
          <div class="col-lg-8 detail__img">
            <img id="product_detail_img" src="/public/img/otchuong.jpg" alt="">
            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">

              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>
          </div>
          <div class="col-lg-4 product-detail">
            <div class="product-detail__name">
              <h3>Ớt chuông</h3>
            </div>
            <div class="product-detail__price">
              <h6>45 000<u>đ</u></h6>
            </div>
            <div class="product-detail__rest-quantity">
              Còn 600kg
            </div>
            <div class="product-detail__quantity">
              <label for="quantity">Số lượng: </label>
              <input type="number" name="quantity" value="1" min="0">
            </div>
            <button class="product-detail__btn">Thêm vào giỏ</button>
            <div class="product-detail__info">
              <div class="info--title">
                Thông tin chi tiết sản phẩm
              </div>
              <div class="info--body">
                Cân nặng: 0.50 kg
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section ">
      <div class="container">
        <div class="product row">
          <div class="product--title col-md-12">
            <h1>Sản phẩm liên quan</h1>
          </div>
          <div class="product--item col-md-3">
            <a href="">
              <div class="product--item__img">
                <img src="/public/img/otchuong.jpg" alt="">
              </div>
              <div class="product--item__title">
                <h6>Ớt chuông</h6>
              </div>
              <div class="product--item__price">
                <h5>45 000<u>đ</u></h5>
              </div>
            </a>
          </div>
          <div class="product--item col-md-3">
            <a href="">
              <div class="product--item__img">
                <img src="/public/img/otchuong.jpg" alt="">
              </div>
              <div class="product--item__title">
                <h6>Ớt chuông</h6>
              </div>
              <div class="product--item__price">
                <h5>45 000<u>đ</u></h5>
              </div>
            </a>
          </div>
          <div class="product--item col-md-3">
            <a href="">
              <div class="product--item__img">
                <img src="/public/img/otchuong.jpg" alt="">
              </div>
              <div class="product--item__title">
                <h6>Ớt chuông</h6>
              </div>
              <div class="product--item__price">
                <h5>45 000<u>đ</u></h5>
              </div>
            </a>
          </div>
          <div class="product--item col-md-3">
            <a href="">
              <div class="product--item__img">
                <img src="/public/img/otchuong.jpg" alt="">
              </div>
              <div class="product--item__title">
                <h6>Ớt chuông</h6>
              </div>
              <div class="product--item__price">
                <h5>45 000<u>đ</u></h5>
              </div>
            </a>
          </div>
          
      </div>
    </section>

    <section class="section notic-bg">
      <div class="container">
        <div class="notic row">
          <div class="notic__left col-md-6">
              <div class="notic__left--title">
                <h4>Đăng ký bản tin của chúng tôi</h4>
              </div>
              <div class="notic__left--body">
                <p>Nhận thông tin cập nhật qua e-mail về các cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt</p>
              </div>
          </div>
          <div class="notic__right col-md-6">
            <form action="" method="post" class="notic__right--form">
                <input class="form_control" type="email" placeholder="Nhập địa chỉ email">
                <input class="submit" type="submit" value="Đăng ký">
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer__left col-md-6">
            <h2>Vegefoods</h2>
            <p>Rau củ sạch cho mọi nhà</p>
            <h3>Mọi thắc mắc vui lòng liên hệ</h3>
            <div class="footer__left--contact">
              <p>Địa chỉ: 273 Đường An Dương Vương, Phương 3, Quận 5, Tp Hồ Chí Minh</p>
              <p>Hotline: 0989768790</p>
              <p>Email: vegefoods@email.com</p>
            </div>
          </div>
          <div class="footer__right col-md-6"></div>
        </div>
      </div>
    </footer>
      <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
