<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/VEGEFOODS/public/site/css/style.css" />
    <link rel="stylesheet" href="/VEGEFOODS/public/site/css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/VEGEFOODS/public/site/css/flaticon.css"/>
    <link rel="stylesheet" href="/VEGEFOODS/public/site/css/icomoon.css"/>
    <link rel="stylesheet" href="/VEGEFOODS/public/site/css/owl.carousel.min.css"/>
    <title>VEGEFOODS</title>
  </head>
  <body>
    <header id="header" class="header">
      <div class="container">
        <div class=" row">
          <div class="header--title col-md-5">
            <h3 class="header--title__content">VEGEFOODS</h3>
          </div>
          <div class="header--nav col-md-7">
              <ul class="header--nav__list">
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Trang chủ</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Giới thiệu</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Blog</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Liên hệ</a>
                </li>
                  <li class="header--nav__item">
                      <a href="" class="nav__link">Giỏ hàng <span>(0)</span></a>
                </li>
                <li class="header--nav__item">
                    <a href="" class="nav__link">Đăng nhập</a>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="banner" style="height: 80px;border-bottom: 1px solid #000;">
      </section>
    <section class="login">
        <div class="container">
            <div class="row login">
                <div class="login--title col-12">
                    <h3>Đăng Nhập</h3>
                </div>
                <form action="" method="post" class="login--form col-8">
                    <fieldset style="margin-bottom: 20px;">
                        <label for="">Email</label>
                        <input type="email" class="" placeholder="Nhập Địa chỉ Email" name="email" required>
                    </fieldset>
                    <fieldset style="margin-bottom: 20px;">
                        <label for="">Mật Khẩu</label>
                        <input type="password" class="" placeholder="Nhập Mật Khẩu" name="password" required>
                    </fieldset>
                    <div class="login--form__btn">
                        <button class="btn-login" name="login" type="submit">Đăng nhập</button>
                    </div>
                    <div class="text-login">
                        <p>Bạn chưa có tài khoản. Đăng ký</p> 
                        <a href="" title="Đăng ký">Tại đây</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer__left col-md-6">
            <h2>Vegefoods</h2>
            <p>Rau củ sạch cho mọi nhà</p>
            <h3>Mọi thắc mắc vui lòng liên hệ</h3>
            <div class="footer__left--contact">
              <p>Địa chỉ: 273 Đường An Dương Vương, Phương 3, Quận 5, Tp Hồ Chí Minh</p>
              <p>Hotline: 0989768790</p>
              <p>Email: vegefoods@email.com</p>
            </div>
          </div>
          <div class="footer__right col-md-6"></div>
        </div>
      </div>
    </footer>
      <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
