.banner{
    height: 380px;
}
.banner--title {
    top: 50%;
}
.banner--title__content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px;
}
.banner--title__content h1 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
.detail {
  margin-bottom: 40px;
}
.detail__img {
    display: flex;
    justify-content: center;

}
#product_detail_img {
  width: 500px;
  height: 500px;
  cursor: zoom-in;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: zoom-out;
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    cursor: pointer;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff !important;
    font-size: 40px !important;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  .detail {
    margin-top: 25px;
  }
   .product-detail__name{
    margin-bottom: 20px;
   }
   .product-detail__price h6{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins',Arial, sans-serif;
   }
   .product-detail__rest-quantity{
     font-size: 15px;
     font-weight: 500;
    margin: 20px 0;
   }
   .product-detail__quantity {
    font-size: 15px;
     margin-bottom: 20px;
     font-weight: 500;
   }
   .product-detail__quantity input{
    width: 20%;
    height: 40px;
    background-color:#fbfbfb;
    border: 1px solid #d6dee4;
    border-radius: 7%;
   }
   .product-detail__quantity input:focus {
     outline: solid 2px #4d4dff;
   }
   .product-detail__btn{
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2%;
   }
   .product-detail__btn:hover {
     opacity: 0.9;
   }
   .product-detail__info {
     margin-top: 40px;
   }
   .info--title {
     font-size: 16px;
     font-weight: 500;
   }
   .info--body {
     margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
   }
.product--option select {
  border: none;
}
select option:focus-visible{
  outline: none;
}